* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	background-color: beige;
	padding: 1rem;
}

h1 {
	font-size: xx-large;
	margin: 1.4rem 0;
}

h2 {
	font-size: larger;
	margin: 1.2rem 0;
}

p {
	font-size: medium;
	margin: 1rem 0;
}

ul, ol, li {
	margin: 0.4rem 1rem;
}
