* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	background-color: beige;
}

article {
	margin: 1rem;
}

article > h2 {
	margin: 0.5rem 0;
	font-size: 1.4rem;
	color: blue;
}

ol {
	margin-left: 1.5rem;
	line-height: 1.2rem;
}

ul {
	list-style: circle outside url("assets/images/casa.png");
	margin-left: 2.5rem;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

caption {
	color: red;
	font-weight: bold;
	margin-bottom: 1rem;
}

thead {
	color: snow;
	background-color: green;
}

tfoot {
	text-align: end;
	background-color: gray;
}

th, td {
	width: 120px;
	height: 40px;
	border: 1px solid black;
}

tbody tr:nth-child(even) {
	background-color: snow;
}

tbody tr:nth-child(odd) {
	background-color: peachpuff;
}

td:nth-of-type(3) {
	text-align: end;
}

tbody tr:hover, tr:hover {
	background-color: aquamarine;
}

a {
	display: inline-block;
	text-decoration: none;
	padding: 15px 25px;
	background-color: aqua;
	color: blue;
}

a:hover, a:active {
	cursor: pointer;
	background-color: aquamarine;
}

#lorem {
	margin: 0 auto;
	background-color: snow;

	border: 1px solid black;
	border-radius: 1rem;

	width: 300px;
	padding: 10px;
}